/* File PasswordInput */

.password-input-container {
  position: relative;
}

.password-input-container input[type="password"],
.password-input-container input[type="text"] {
  padding-right: 36px;
  /* Enough space for the button */
}

.password-visibility-button {
  position: absolute;
  top: 50%;
  right: 8px;
  /* Space from the right edge */
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.2em;
  /* Size of the icon */
}

.password-visibility-button.active {
  color: #007bff;
  /* Color for active state */
}

/* Колір рамки при помилці червоний */
.input_field.error {
  border-color: red;
  /* color: red; */

}

.input_field.error::placeholder {
  color: red;
  /* Колір placeholder червоний при помилці */
}