/* .swal2-window-confirm {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 200px;
  background-color: aquamarine;
} */

/* .swal2-toast-container {
  position: fixed;
  z-index: 9999;
  padding: 0.625em;
  pointer-events: none;
}

.swal2-toast {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "icon content";
  background-color: #333;
  color: #fff;
  border-radius: 0.25em;
  box-shadow: 0 0 1.25em rgba(0, 0, 0, 0.2);
  overflow-wrap: anywhere;
  padding: 1em;
  position: relative;
  pointer-events: all;
}

.swal2-toast .swal2-title {
  font-size: 1rem;
  margin-bottom: 0.3125em;
}

.swal2-toast .swal2-content {
  font-size: 1rem;
} */