.welcome-container {
  background: no-repeat, white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 393px;
  height: 852px;
  border: 1px solid #775CE6;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  overflow: hidden;
  color: white;
}

.background-container {
  width: 393px;
  height: 583px;
  background: url('../../../public/background-1.png') no-repeat center center;
  background-size: cover;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

h1 {
  margin-top: 100px;
  font-size: 42px;
}

p {
  margin-top: 20px;
}

.welcome-image {
  margin-top: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

.button-container {
  display: grid;
  gap: 10px;
  margin-top: auto;
  margin-bottom: 50px;
}

.login-button {
  width: 353px;
  padding: 10px 20px;
  background: white;
  border: 1px solid #775CE6;
  border-radius: 6px;
  color: #775CE6;
  text-decoration: none;
  display: block;
}

.register-button {
  width: 353px;
  padding: 10px 20px;
  background: #775CE6;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  display: block;

}