.user-data-list {
  /* list-style: none; */
  padding: 0;
  margin: 10;
  height: 650px;
  overflow-y: hidden;
  /* Спочатку сховати стрічку прокрутки */
  position: relative;
  /* Додати для псевдокласу */
}

/* Створити місце для стрічки прокрутки за допомогою псевдокласу */
.user-data-list::after {
  content: '';
  display: block;
  width: 6px;
  /* Ширина стрічки прокрутки */
  height: 100%;
  position: absolute;
  top: 0;
  /* right: -1px; */
  /* Розмістити псевдоелемент справа за межами основного контенту */
  pointer-events: none;
  /* Щоб псевдоелемент не заважав інтеракції з контентом */
  overflow-x: hidden;
}

.user-data-list:hover {
  overflow-y: auto;
}

/* Styling the scrollbar */
.user-data-list::-webkit-scrollbar {
  width: 1px;
  /* Set scrollbar width */
}

.user-data-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* Set color of scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners */
}

.user-data-list::-webkit-scrollbar-track {
  background: #e1e1e1;
  /* Color of the scrollbar track */
}

.user-data-item {
  width: 353px;
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  background: #fff;
}

.user-actions {
  margin-top: 10px;
}

.user-transactions-button,
.user-delete-button {
  width: 100%;
  display: block;
  margin-bottom: 10px;
  /* Розташовуємо кнопки одна над одною */
}

.user-transactions-button {
  color: #007bff;
  background: none;
  border: 1px solid #007bff;
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  text-align: center;
  /* Центруємо текст у кнопці */
}

.user-transactions-button:hover {
  background: #007bff;
  color: #fff;
}

.user-delete-button {
  color: #dc3545;
  background: none;
  border: 1px solid #dc3545;
  padding: 5px 10px;
  font-size: 0.9em;
  cursor: pointer;
  text-align: center;
  /* Центруємо текст у кнопці */
}

.user-delete-button:hover {
  background: #dc3545;
  color: #fff;
}