.users-block {
  display: flex;
  justify-content: space-between;
  margin: 0px 10px;
  align-items: center;
  width: 353px;
}

.users-icon-link {
  color: black;
  margin: 10px;
}

.current-user {
  margin: 10px;
}


.icon-enter {
  width: 24px;
  height: 24px;
}