/* Файл TransactionList.css */

.transaction-container {
  width: auto;
  /* height: 437px */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;


}

.transaction-list {
  display: block;
  max-height: 540px;
  /* max-width: fit-content; */
  padding: 0px 20px 20px 20px;
  /* Додаємо 10px додаткового відступу справа */
  display: flex;
  flex-direction: column;
  /* justify-content: flex-start; */
  align-items: center;
  gap: 3px;

  overflow-y: hidden;
  /* Спочатку сховати стрічку прокрутки */
  position: relative;
  /* Додати для псевдокласу */
}



/* Створити місце для стрічки прокрутки за допомогою псевдокласу */
.transaction-list::after {
  content: '';
  display: block;
  width: 6px;
  /* Ширина стрічки прокрутки */
  height: 100%;
  position: absolute;
  top: 0;
  /* right: -1px; */
  /* Розмістити псевдоелемент справа за межами основного контенту */
  pointer-events: none;
  /* Щоб псевдоелемент не заважав інтеракції з контентом */
  overflow-x: hidden;
}

.transaction-list:hover {
  overflow-y: auto;
}

/* Styling the scrollbar */
.transaction-list::-webkit-scrollbar {
  width: 1px;
  /* Set scrollbar width */
}

.transaction-list::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  /* Set color of scrollbar thumb */
  border-radius: 10px;
  /* Rounded corners */
}

.transaction-list::-webkit-scrollbar-track {
  background: #e1e1e1;
  /* Color of the scrollbar track */
}


.transaction-item {
  width: 340px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* Центрування по вертикалі */
  padding: 5px 0;
  /* Внутрішній відступ */
  margin: 5px 0;
  /* Зовнішній відступ */
  background: #fff;
  border-radius: 12px;
  box-shadow: 5px 5px 2px 0px rgba(136, 124, 124, 0.75);
  /* flex: none; */
}

/* box-shadow: [horizontal offset] [vertical offset] [blur radius] [spread radius] [color]; */

/* Повний синтаксис */
/* box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75); */

/* Пояснення параметрів:
   - horizontal offset: горизонтальне зміщення тіні від елемента (позитивне значення вправо, від'ємне - вліво)
   - vertical offset: вертикальне зміщення тіні від елемента (позитивне значення вниз, від'ємне - вгору)
   - blur radius: радіус розмиття тіні (зменшення для більш виразної тіні, збільшення - для розмиття)
   - spread radius: розповсюдження тіні (позитивне значення розширює тінь, від'ємне - скорочує)
   - color: колір тіні (може бути заданий як ім'я кольору, RGB, RGBA, HEX тощо)
*/
/* .pending {
  border: 3px solid orange;
}

.completed {
  border: 3px solid lightgreen;
} */



.transaction-logo {
  min-width: 40px;
  /* Задати мінімальну ширину */
  max-width: 40px;
  /* Задати максимальну ширину */
  height: 40px;
  /* Задати фіксовану висоту */
  margin: 0 20px;
  /* Проміжок між логотипом та деталями */
  display: flex;
  align-items: center;
  /* Центрувати зображення по вертикалі */
  justify-content: center;
  /* Центрувати зображення по горизонталі */
  margin-right: 10px;

}

.transaction-logo img {
  width: 40px;
  height: 40px;
  /* margin: 0 20px; */
}

.transaction-details {
  display: flex;
  flex-direction: column;
  width: 180px;
  align-items: flex-start;
  gap: 6px;
  text-decoration: none;
  /* padding: 0 10px; */

  margin: 0 10px;
}

.transaction-title {
  /* font-size: 16px; */
  font-style: normal;
  font-weight: 500;
  margin: 5px 0;
  color: #1D1D1F;

}

.transaction-info {
  /* font-size: 12px; */
  color: #939199;
  font-style: normal;
  font-weight: 400;
  /* display: flex; */
  /* text-align: left; */

}

.transaction-amount {

  /* font-size: 16px; */
  font-style: normal;
  font-weight: 500;
  margin: 0 10px;
}


/* Ensure links have no underline */
a {
  text-decoration: none;
}

.amount-black {
  color: black;
}

.amount-green {
  color: #24B377;
}